* {
    margin: 0;
    padding: 0;
}


#container_principal {
    display: flex;
    height: 100vh;
    align-items: center;

}

#container_conteudo {
    
    margin: 0 auto;
    background-color: #555;
    padding: 40px;
    height: 450px;
    border: 2px solid black;
    border-radius: 10%;
}

.container_lista {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    margin-left: 30px;
}

h1 {
    margin-bottom: 3rem;
}

#container_resultado {
    font-size: 1.5rem;
    margin-top: 1.5rem
}